/*
@mixin dim-padding($dim, $padding){
	{$dim-$padding}+px;
}
//*/
@import url("https://use.typekit.net/rsa6crf.css");
.TFL_mex * p {
  font-size: 14px;
  font-weight: 400 !important;
  line-height: 20px !important; }

.TFL_mex * small {
  font-size: 13px !important; }

.TFL_mex * h4 {
  font-size: 24px !important; }

.center {
  display: flex;
  justify-content: center; }
  .center .center-text {
    margin-left: 50px; }
    .center .center-text .item {
      display: flex;
      padding: 5px 0 !important; }
      .center .center-text .item p {
        padding: 0 5px !important;
        color: #171c38;
        font-size: 24px; }
        .center .center-text .item p small {
          font-size: 19px; }
      .center .center-text .item p:nth-child(1) {
        color: #e3000b;
        font-size: 24px;
        font-weight: 700; }

.bg-blue {
  background-color: #f7f8fc; }

#TFL_container {
  width: 100%;
  max-width: 1200px;
  height: auto;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  font-family: "din-2014", sans-serif;
  color: #5e5e5e;
  background: #fff;
  font-size: 20px;
  line-height: 140%; }
  #TFL_container * {
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box; }
    #TFL_container *::after, #TFL_container *::before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
  #TFL_container .TFL_row:after,
  #TFL_container .TFL_row:before {
    display: table;
    content: " "; }
  #TFL_container .TFL_pt-2 {
    padding-top: 1.5rem !important; }
  #TFL_container .TFL_pl-2 {
    padding-left: 1.5rem !important; }
  #TFL_container .TFL_pb-3 {
    padding-bottom: 2rem !important; }
  #TFL_container .TFL_mt-3 {
    margin-top: 2rem !important; }
  #TFL_container .TFL_mb-3 {
    margin-bottom: 2rem !important; }
  #TFL_container .TFL_mb-4 {
    margin-bottom: 3rem !important; }
  #TFL_container .TFL_w100 {
    width: 100%; }
  #TFL_container .TFL_i100 img {
    width: 100%; }
  #TFL_container .TFL_text-center {
    text-align: center; }
  #TFL_container .TFL_row {
    float: left;
    clear: both; }
    #TFL_container .TFL_row > div {
      float: left; }
    #TFL_container .TFL_row .TFL_c2 {
      width: 50%;
      padding: 0 15px; }
    #TFL_container .TFL_row .TFL_c5 {
      width: 20%;
      padding: 0 15px; }
    #TFL_container .TFL_row .TFL_c6 {
      width: 16.66%;
      padding: 0 15px; }
    #TFL_container .TFL_row .TFL_c8 {
      width: 37.5%;
      padding: 0 15px; }
    #TFL_container .TFL_row .TFL_c9 {
      width: 62.5%;
      padding: 0 15px; }
    #TFL_container .TFL_row .TFL_c10 {
      width: 32.5%;
      padding: 0 0px; }
    #TFL_container .TFL_row .TFL_c11 {
      width: 67.5%;
      padding: 0 0px; }
  #TFL_container .TFL__group-special {
    border: 4px solid #acb8bf;
    border-radius: 1rem;
    padding: 3rem 1rem 1rem 1rem; }
  #TFL_container section.TFL_section {
    width: 100%;
    max-width: 1120px;
    height: auto;
    position: relative;
    margin: 20px auto 0;
    overflow: hidden; }
    #TFL_container section.TFL_section h3 {
      color: #171c38;
      font-size: 43px;
      font-weight: 700;
      text-align: center;
      margin: 15px 0 50px;
      line-height: 100%; }
    #TFL_container section.TFL_section h4 {
      color: #171c38;
      font-size: 29px;
      font-weight: 700;
      margin: 0 0 30px;
      line-height: 100%; }
    #TFL_container section.TFL_section.TFL_w100 {
      width: 100%; }
  #TFL_container .TFL_top {
    display: flex;
    align-items: center; }
    #TFL_container .TFL_top * {
      display: inline-block; }
    #TFL_container .TFL_top .TFL_sep {
      margin-left: 25px;
      margin-right: 25px;
      background: #868686;
      height: 46px;
      width: 2px; }
  #TFL_container .TFL_benefits {
    text-align: center; }
    #TFL_container .TFL_benefits div {
      font-weight: bold;
      text-align: center;
      margin-right: 20px;
      max-width: 166px;
      width: calc(20% - 20px);
      display: inline-block;
      vertical-align: top; }
      #TFL_container .TFL_benefits div:last-child {
        margin-right: 0; }
      #TFL_container .TFL_benefits div img {
        display: block;
        margin-bottom: 15px;
        width: 100%; }
  #TFL_container .TFL_info .TFL_row {
    padding: 20px 0; }
    #TFL_container .TFL_info .TFL_row:last-child {
      margin-bottom: 0; }
  #TFL_container .TFL_inbox .TFL_c6 {
    text-align: center;
    font-size: 16px; }
    #TFL_container .TFL_inbox .TFL_c6 img {
      max-width: 100%;
      margin-bottom: 25px; }
  #TFL_container .TFL_video {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0; }
  #TFL_container .TFL_video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  @media (max-width: 900px) {
    #TFL_container {
      font-size: 16px !important; }
      #TFL_container .center {
        padding-bottom: 1em; }
        #TFL_container .center .center-text {
          margin-left: 50px; }
          #TFL_container .center .center-text .item {
            padding: 5px 0; }
            #TFL_container .center .center-text .item p {
              text-align: left !important;
              font-size: 24px; }
              #TFL_container .center .center-text .item p small {
                font-size: 18px; }
            #TFL_container .center .center-text .item p:nth-child(1) {
              color: #e3000b;
              font-size: 20px;
              font-weight: 700; }
      #TFL_container section.TFL_section {
        margin: 30px auto 0; }
        #TFL_container section.TFL_section h1 {
          font-size: 26px;
          margin: 15px 0 30px; }
        #TFL_container section.TFL_section h2 {
          font-size: 26px;
          margin: 0 0 20px; }
      #TFL_container .TFL_inbox .TFL_c6 {
        font-size: 12px; }
        #TFL_container .TFL_inbox .TFL_c6 img {
          margin-bottom: 15px; } }
  @media (max-width: 768px) {
    #TFL_container {
      font-size: 14px; }
      #TFL_container .TFL_info .TFL_row {
        padding: 15px 0; }
        #TFL_container .TFL_info .TFL_row:last-child {
          margin-bottom: 0; }
      #TFL_container .center {
        padding-bottom: 1em; }
        #TFL_container .center .center-text {
          margin-left: 50px; }
          #TFL_container .center .center-text .item {
            padding: 5px 0; }
            #TFL_container .center .center-text .item p {
              text-align: left !important;
              font-size: 22px;
              line-height: 20px; }
              #TFL_container .center .center-text .item p small {
                font-size: 16px; }
            #TFL_container .center .center-text .item p:nth-child(1) {
              color: #e3000b;
              font-size: 20px;
              font-weight: 700; }
      #TFL_container section.TFL_section {
        margin: 20px auto 0; }
        #TFL_container section.TFL_section h1 {
          font-size: 20px;
          margin: 10px 0 20px; }
        #TFL_container section.TFL_section h2 {
          font-size: 20px;
          margin: 0 0 10px; }
      #TFL_container .TFL_inbox .TFL_c6 {
        font-size: 12px; }
        #TFL_container .TFL_inbox .TFL_c6 img {
          margin-bottom: 10px; } }
  @media (min-width: 630px) {
    #TFL_container .TFL_sep {
      margin-right: 45px !important; } }
  @media (min-width: 611px) {
    #TFL_container .TFL_mobile {
      display: none !important; }
    #TFL_container .TFL_clear-mobile {
      display: none !important; }
    #TFL_container .text-400 {
      max-width: 400px; }
    #TFL_container .text-450 {
      max-width: 450px; }
    #TFL_container .pl-3 {
      padding-left: 30px !important; } }
  @media (max-width: 610px) {
    #TFL_container {
      font-size: 16px; }
      #TFL_container .center {
        padding-bottom: 1em; }
        #TFL_container .center .center-text {
          margin-left: 50px; }
          #TFL_container .center .center-text .item {
            padding: 2px 0; }
            #TFL_container .center .center-text .item p {
              text-align: left !important;
              font-size: 18px;
              line-height: 16px; }
              #TFL_container .center .center-text .item p small {
                font-size: 14px; }
            #TFL_container .center .center-text .item p:nth-child(1) {
              color: #e3000b;
              font-size: 20px;
              font-weight: 700; }
      #TFL_container .bg-blue {
        background-color: #f7f8fc; }
      #TFL_container * {
        text-align: center !important; }
      #TFL_container .TFL_desctop {
        display: none !important; }
      #TFL_container .TFL_clear-mobile {
        display: block;
        width: 100%; }
      #TFL_container .TFL_row .TFL_c2,
      #TFL_container .TFL_row .TFL_c5 {
        width: 100%; }
      #TFL_container .TFL_row .TFL_c6 {
        width: 50%; }
      #TFL_container .TFL_pt-0-mobile {
        padding-top: 0 !important; }
      #TFL_container .TFL_top {
        display: block; }
        #TFL_container .TFL_top * {
          display: inline-block; }
        #TFL_container .TFL_top img {
          max-width: 100%; }
        #TFL_container .TFL_top .TFL_sep {
          display: none; }
      #TFL_container section.TFL_section {
        margin: 20px auto 0; }
        #TFL_container section.TFL_section h1 {
          font-size: 22px;
          margin: 10px 0 20px; }
        #TFL_container section.TFL_section h2 {
          font-size: 22px;
          margin: 0 0 10px; }
      #TFL_container .TFL_benefits div {
        margin-right: 0px;
        width: 45%;
        margin-bottom: 10px; }
        #TFL_container .TFL_benefits div.TFL_4in1 {
          width: 100%; }
        #TFL_container .TFL_benefits div:first-child {
          margin-right: 2%; }
        #TFL_container .TFL_benefits div:last-child {
          margin-left: 2%; }
        #TFL_container .TFL_benefits div img {
          margin-bottom: 5px; }
      #TFL_container .TFL_info .TFL_row {
        margin-bottom: 30px !important; }
        #TFL_container .TFL_info .TFL_row:last-child {
          margin-bottom: 0; }
        #TFL_container .TFL_info .TFL_row img {
          margin-bottom: 10px; }
      #TFL_container .TFL_inbox .TFL_c6 {
        font-size: 16px;
        margin-bottom: 15px; }
        #TFL_container .TFL_inbox .TFL_c6 img {
          margin-bottom: 0px; } }

/*# sourceMappingURL=dev.css.map */