@include fontface($din, 'din1451alt');

* {
	border: 0;
	padding: 0;
	margin: 0;
	outline: none;
	-webkit-font-smoothing: antialiased !important;
	box-sizing: content-box;
}
html, body {
	height: 100%;
	//overflow: hidden;
}
body {
	font-family: $primary-font, sans-serif;
	color: #{$txt-color};
	background: #{$body-bgcolor};
	height: auto !important;
	font-size: 18px;
}

/*
::-webkit-input-placeholder { @include font(12, #717171, $primary-font, 300); }
::-moz-placeholder { @include font(12, #717171, $primary-font, 300); }
:-ms-input-placeholder { @include font(12, #717171, $primary-font, 300); }
input:-moz-placeholder { @include font(12, #717171, $primary-font, 300); }
//*/
a {
	text-decoration: none;
}
