@import "compass/utilities/sprites";

$icon-spacing: 50px;
$icon-sprite-dimensions: true;
@import "icon/**/*.png";
//$icons: sprite-map("icons/**/*.png", $spacing: 50px);
.icon {
	display: inline-block;
	vertical-align: middle;
}

@include all-icon-sprites;