.#{$prefix}pt-2{
	padding-top: 1.5rem !important
}

.#{$prefix}pl-2{
	padding-left: 1.5rem !important
}

.#{$prefix}pb-3{
	padding-bottom: 2rem !important
}


.#{$prefix}mt-3{
	margin-top: 2rem !important
}

.#{$prefix}mb-3{
	margin-bottom: 2rem !important
}

.#{$prefix}mb-4{
	margin-bottom: 3rem !important
}


.#{$prefix}w100 {
	width: 100%
}
.#{$prefix}i100 img {
	width: 100%;
}

.#{$prefix}text-center {
	text-align: center;
}

.#{$prefix}row {
	// margin: 0 -15px;
	float: left;
	clear: both;
	>div {
		float: left;
	}
	.#{$prefix}c2 {
		width: 50%;
		padding: 0 15px;
	}
	.#{$prefix}c5 {
		width: 20%;
		padding: 0 15px;
	}
	.#{$prefix}c6 {
		width: 16.66%;
		padding: 0 15px;
	}
	.#{$prefix}c8 {
		width: 37.5%;
		padding: 0 15px;
	}
	.#{$prefix}c9 {
		width: 62.5%;
		padding: 0 15px;
	}
	.#{$prefix}c10 {
		width: 32.5%;
		padding: 0 0px;
	}
	.#{$prefix}c11 {
		width: 67.5%;
		padding: 0 0px;
	}
}

.#{$prefix}_group-special{
	border: 4px solid #acb8bf;
	border-radius: 1rem;
	padding: 3rem 1rem 1rem 1rem;
}