//PATHS
$img-path: '../img/';
$ip: $img-path;
$iop: $ip + 'opt/';

$fonts-folder: '../font/';


$project: 'tefal';
$prefix: 'TFL_';

//CONTENT SETTINGS
$body-bgcolor: #fff;
$din: 'din-2014';

$primary-font: $din;
$secondary-font: Arial, sans-serif;

$base-color: #fff;
$txt-color: #5e5e5e;

//content dimensions
$container-width: 1200px;
$content-width: 1120px;

//MEDIA QUERIES WIDTHS
$mobile_lt480: 240;
$mobile480: 640;
$mobile720: 990;
$desctop1000: 1170; //990
$desctop1280: 1366;