
##{$prefix}content{
	width: $content-width;
}

##{$prefix}bottom{
	&.flexslider {
		.slides {
			a {
				width: 100px;
				img {
					width: 100%;

				}
			}
		}
	}
}

##{$prefix}middle {
	.head {
		margin: 30px 0 30px 20px;
	}
	.col {
		&.c1 {
			margin: 0px 20px;
		}
		&.c2 {
			img.bg {
				width: 400px;
				left: -50px;
				bottom: -300px;
			}
		}
	}
}

##{$prefix}bgfx {
	img.bg {
		@include absl(0,-200,1);
		width: auto;
		height: 428px;
	}
}