@import url("https://use.typekit.net/rsa6crf.css");

// mediaexpert font variations

.#{$prefix}mex {
  * {
    p {
      font-size: 14px;
      font-weight: 400 !important;
      line-height: 20px !important;
    }
    small {
      font-size: 13px !important;
    }

    h4 {
      font-size: 24px !important;
    }
  }
}

.center {
  display: flex;
  justify-content: center;

  .center-text {
    margin-left: 50px;
    .item {
      display: flex;
      padding: 5px 0 !important;

      p {
        padding: 0 5px !important;
        color: #171c38;
        font-size: 24px;

        small {
          font-size: 19px;
        }
      }

      p:nth-child(1) {
        color: #e3000b;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
}

.bg-blue {
  background-color: #f7f8fc;
}

##{$prefix}container {
  width: 100%;
  max-width: $container-width;
  height: auto;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  font-family: $primary-font, sans-serif;
  color: #{$txt-color};
  background: #{$body-bgcolor};
  font-size: 20px;
  line-height: 140%;
  * {
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
    &::after,
    &::before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  .#{$prefix}row:after,
  .#{$prefix}row:before {
    display: table;
    content: " ";
  }

  @import "partials/utils";

  section.#{$prefix}section {
    width: 100%;
    max-width: $content-width;
    height: auto;
    position: relative;
    margin: 20px auto 0;
    overflow: hidden;
    h3 {
      color: #171c38;
      font-size: 43px;
      font-weight: 700;
      text-align: center;
      margin: 15px 0 50px;
      line-height: 100%;
    }
    h4 {
      color: #171c38;
      font-size: 29px;
      font-weight: 700;
      margin: 0 0 30px;
      line-height: 100%;
    }
    &.#{$prefix}w100 {
      width: 100%;
    }
  }

  .#{$prefix}top {
    display: flex;
    align-items: center;
    * {
      display: inline-block;
    }

    .#{$prefix}sep {
      margin-left: 25px;
      margin-right: 25px;
      background: #868686;
      height: 46px;
      width: 2px;
    }
  }

  .#{$prefix}benefits {
    text-align: center;
    div {
      font-weight: bold;
      text-align: center;
      margin-right: 20px;
      max-width: 166px;
      width: calc(20% - 20px);
      display: inline-block;
      vertical-align: top;
      &:last-child {
        margin-right: 0;
      }
      img {
        display: block;
        margin-bottom: 15px;
        width: 100%;
      }
    }
  }

  .#{$prefix}info {
    .#{$prefix}row {
      // margin-bottom: 50px !important;
      padding: 20px 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .#{$prefix}inbox {
    .#{$prefix}c6 {
      text-align: center;
      font-size: 16px;
      img {
        max-width: 100%;
        margin-bottom: 25px;
      }
    }
  }

  .#{$prefix}video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .#{$prefix}video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 900px) {
    font-size: 16px !important;

    .center {
      padding-bottom: 1em;
      .center-text {
        margin-left: 50px;
        .item {
          padding: 5px 0;

          p {
            text-align: left !important;
            font-size: 24px;

            small {
              font-size: 18px;
            }
          }

          p:nth-child(1) {
            color: #e3000b;
            font-size: 20px;
            font-weight: 700;
          }
        }
      }
    }

    section.#{$prefix}section {
      margin: 30px auto 0;
      h1 {
        font-size: 26px;
        margin: 15px 0 30px;
      }
      h2 {
        font-size: 26px;
        margin: 0 0 20px;
      }
    }
    .#{$prefix}inbox {
      .#{$prefix}c6 {
        font-size: 12px;
        img {
          margin-bottom: 15px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    font-size: 14px;

    .#{$prefix}info {
      .#{$prefix}row {
        // margin-bottom: 50px !important;
        padding: 15px 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .center {
      padding-bottom: 1em;
      .center-text {
        margin-left: 50px;
        .item {
          padding: 5px 0;

          p {
            text-align: left !important;
            font-size: 22px;
            line-height: 20px;

            small {
              font-size: 16px;
            }
          }

          p:nth-child(1) {
            color: #e3000b;
            font-size: 20px;
            font-weight: 700;
          }
        }
      }
    }

    section.#{$prefix}section {
      margin: 20px auto 0;
      h1 {
        font-size: 20px;
        margin: 10px 0 20px;
      }
      h2 {
        font-size: 20px;
        margin: 0 0 10px;
      }
    }
    .#{$prefix}inbox {
      .#{$prefix}c6 {
        font-size: 12px;
        img {
          margin-bottom: 10px;
        }
      }
    }
  }

  @media (min-width: 630px) {
    .#{$prefix}sep {
      margin-right: 45px !important;
    }
  }

  @media (min-width: 611px) {
    .#{$prefix}mobile {
      display: none !important;
    }
    .#{$prefix}clear-mobile {
      display: none !important;
    }

    .text-400 {
      max-width: 400px;
    }
    .text-450 {
      max-width: 450px;
    }

    .pl-3 {
      padding-left: 30px !important;
    }
  }

  @media (max-width: 610px) {
    .center {
      padding-bottom: 1em;
      .center-text {
        margin-left: 50px;
        .item {
          padding: 2px 0;

          p {
            text-align: left !important;
            font-size: 18px;
            line-height: 16px;
            small {
              font-size: 14px;
            }
          }

          p:nth-child(1) {
            color: #e3000b;
            font-size: 20px;
            font-weight: 700;
          }
        }
      }
    }

    .bg-blue {
      background-color: #f7f8fc;
    }

    font-size: 16px;
    * {
      text-align: center !important;
    }
    .#{$prefix}desctop {
      display: none !important;
    }
    .#{$prefix}clear-mobile {
      display: block;
      width: 100%;
    }
    .#{$prefix}row {
      .#{$prefix}c2,
      .#{$prefix}c5 {
        width: 100%;
      }
      .#{$prefix}c6 {
        width: 50%;
      }
    }
    .#{$prefix}pt-0-mobile {
      padding-top: 0 !important;
    }
    .#{$prefix}top {
      display: block;
      * {
        display: inline-block;
      }
      img {
        max-width: 100%;
      }
      .#{$prefix}sep {
        display: none;
      }
    }

    section.#{$prefix}section {
      margin: 20px auto 0;
      h1 {
        font-size: 22px;
        margin: 10px 0 20px;
      }
      h2 {
        font-size: 22px;
        margin: 0 0 10px;
      }
    }
    .#{$prefix}benefits {
      div {
        margin-right: 0px;
        width: 45%;
        margin-bottom: 10px;
        &.#{$prefix}4in1 {
          width: 100%;
        }
        &:first-child {
          margin-right: 2%;
        }
        &:last-child {
          margin-left: 2%;
        }
        img {
          margin-bottom: 5px;
        }
      }
    }
    .#{$prefix}info {
      .#{$prefix}row {
        margin-bottom: 30px !important;
        &:last-child {
          margin-bottom: 0;
        }
        img {
          margin-bottom: 10px;
        }
      }
    }
    .#{$prefix}inbox {
      .#{$prefix}c6 {
        font-size: 16px;
        margin-bottom: 15px;
        img {
          margin-bottom: 0px;
        }
      }
    }
  }
}

