
##{$prefix}content{
	width: $content-width;
}

##{$prefix}bottom{
	&.flexslider {
		.slides {
			a {
				width: 100px;
				img {
					width: 100%;

				}
			}
		}
	}
}

##{$prefix}middle {
	.head {
		margin: 30px 0 30px 20px;
	}
	.col {
		width: 90%;
		&.c1 {
			margin: 0px 0px 0 20px;
			img {
				width: 100%;
			}
		}
		&.c2 {
			margin: 20px 0px 0 20px;
			img.bg {
				position: relative;
				top: auto;
				bottom: auto;
				left: auto;

				width: 100%;
				margin-top: -70px;
				margin-bottom: -50px;

			}
		}
	}
}

##{$prefix}bgfx {
	height: auto;
	img.bg {
		width: 100%;
		height: auto;
	}
	a.buy {
		right: auto;
		left: 50%;
		margin-left: -77px;
		bottom: 5%;
	}
}
##{$prefix}shoes {
	display: none;
}