
##{$prefix}content{
	width: $content-width;
}

##{$prefix}bottom{
	&.flexslider {
		.slides {
			a {
				width: 100px;
				img {
					width: 100%;

				}
			}
		}
	}
}

##{$prefix}middle {
	.head {
		margin: 30px 0 30px 20px;
	}
	.col {
		&.c1 {
			margin: 0px 20px;
		}
		&.c2 {
			
		}
	}
}
##{$prefix}bgfx {
	height: auto;
	a.buy {
		
		right: 230px;
		bottom: 100px;
	}
}