<link href="../../css/dev.css?__inline=true" rel="stylesheet" type="text/css">

<div id="TFL_container">
  <section class="TFL_section TFL_top" style="padding-left: 30px; margin: 10px auto 0">
    <img alt="Tefal" src="assets/logo.png" class="lazy" data-original="assets/logo.png"><br class="TFL_mobile">
    <div class="TFL_section TFL_sep"></div>
    <img alt="Pro Express Ultimate" src="assets/logo-flex.png" class="lazy" data-original="assets/logo-flex.png" style="margin-top: 10px;">
  </section>
  <section class="TFL_section TFL_w100 TFL_i100">
    <img alt="&#x141;amie zasady sprz&#x105;tania" src="assets/hero.jpg" class="lazy" data-original="assets/hero.jpg" style="display: block">
  </section>

  <section class="TFL_section TFL_info p-small h4-small" style="background: #fafbfd; margin: 0 auto; padding-top: 10px">
    <h3>Śniadanie takie jak lubisz</h3>

    <div class="TFL_row">
      <div class="TFL_c2 TFL_i100 TFL_mobile">
        <img src="assets/info-1.png" class="lazy" data-original="assets/info-1.png">
      </div>
      <div class="TFL_c2">
        <h4>
          Nowoczesny
        </h4>
        <p>
          Toster Tefal Display wyróżnia się <strong>unikalnym i eleganckim designem.</strong> Poranne przygotowywanie
          śniadań ułatwi
          cyfrowy wyświetlacz, funkcja ulubione ustawienia i 7 poziomów wypieczenia. Teraz przygotujesz <strong>dwa
            tosty na raz za jednym dotknięciem!</strong>
        </p>
      </div>
      <div class="TFL_c2 TFL_i100 TFL_desctop">
        <img src="assets/info-1.png" class="lazy" data-original="assets/info-1.png">
      </div>
    </div>

    <div class="TFL_row" style="background: #f7f8fc">
      <div class="TFL_c2 TFL_i100">
        <img src="assets/info-2.png" class="lazy" data-original="assets/info-2.png">
      </div>
      <div class="TFL_c2 pl-3">
        <h4>
          Pełna kontrola
        </h4>
        <p>
          Czytelny, <strong>cyfrowy wyświetlacz </strong>pokazuje <strong> czas pozostały do końca
            opiekania.</strong>
          Dzięki temu masz pełną kontrolę i
          pewność doskonałego opieczenia.
        </p>
      </div>
    </div>

    <div class="TFL_row">
      <div class="TFL_c2 TFL_i100 TFL_mobile">
        <img src="assets/info-3.png" class="lazy" data-original="assets/info-3.png">
      </div>
      <div class="TFL_c2">
        <h4>
          Dostosowuje się do Twoich potrzeb
        </h4>
        <p>
          Osiągniesz doskonałe rezultaty niezależnie od grubości kromek. <strong>Otwory można wygodnie
            regulować,</strong> a automatyczne pozycjonowanie zapewnia <strong>perfekcyjnie opieczone</strong> tosty
          <strong>za każdym razem.</strong>
        </p>
      </div>
      <div class="TFL_c2 TFL_i100 TFL_desctop">
        <img src="assets/info-3.png" class="lazy" data-original="assets/info-3.png">
      </div>
    </div>

    <div class="TFL_row" style="background: #f7f8fc">
      <div class="TFL_c2 TFL_i100 ">
        <img src="assets/info-4.png" class="lazy" data-original="assets/info-4.png">
      </div>
      <div class="TFL_c2 pl-3">
        <h4>Intuicyjny i wygodny</h4>
        <p>
          Toster posiada <strong>3 dedykowane funkcje, </strong>dostępne dla Ciebie za jednym dotknięciem. Dzięki
          funkcjom <strong>Stop, Rozmrażanie i Podgrzewanie,</strong> możesz bez problemu zatrzymać pracę urządzenia,
          opiec zamrożoną kromkę
          i podgrzać uprzednio opieczonego tosta <strong>w 30 sekund.</strong>
        </p>
      </div>
    </div>

    <div class="TFL_row">
      <div class="TFL_c2 TFL_i100 TFL_mobile">
        <img src="assets/info-5.png" class="lazy" data-original="assets/info-3.png">
      </div>
      <div class="TFL_c2">
        <h4>
          Precyzyjnie za każdym razem
        </h4>
        <p>
          <strong>Zapisz </strong>swoje <strong>ulubione ustawienia,</strong> aby cieszyć się
          <strong>za każdym razem idealnie wypieczonym tostem.</strong> Wszystko za jednym dotknięciem.
        </p>
      </div>
      <div class="TFL_c2 TFL_i100 TFL_desctop">
        <img src="assets/info-5.png" class="lazy" data-original="assets/info-3.png">
      </div>
    </div>
  </section>

  <section class="TFL_section TFL_i100 TFL_pb-3" style="margin: 0 auto">
    <img src="assets/flex-info1.jpg" class="lazy" data-original="assets/flex-info1.jpg">
    <img src="assets/flex-info2.jpg" class="lazy" data-original="assets/flex-info2.jpg" style="transform: translateY(-7px);">
  </section>


  <section class="TFL_section TFL_i100">
    <img src="assets/flex-info3.jpg" class="lazy TFL_pb-3" data-original="assets/flex-info3.jpg">
    <div class="center">
      <div class="center-text">
        <div class="item">
          <p>1.</p>
          <p>
            <strong>
              Precyzyjne opiekanie
            </strong>
            <br>
            <small>
              dzięki wyświetlaczowi z odliczaniem
            </small>
          </p>
        </div>
        <div class="item">
          <p>2.</p>
          <p>
            <strong>
              Elegancki i nowoczesny design
            </strong>
          </p>
        </div>
        <div class="item">
          <p>3.</p>
          <p>
            <strong>
              Funkcja zapisania ulubionych ustawień
            </strong>
          </p>
        </div>
        <div class="item">
          <p>4.</p>
          <p>
            <strong>
              Proste wyjmowanie tostów
            </strong>
          </p>
        </div>
        <div class="item">
          <p>5.</p>
          <p>
            <strong>
              Łatwe czyszczenie
            </strong>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="TFL_section TFL_text-center" style="padding: 20px 0;">
    <h4 class="TFL_mb-3">Uznana&nbsp;i&nbsp;potwierdzona niezawodność</h4>
    <img class="TFL_mb-3 lazy" src="assets/warranty.png" data-original="assets/warranty.png">
    <p style="color: #4c4c4c; font-size: 16px; font-weight: 500;">
      <strong>TEFAL zobowiązuje się utrzymywać wszystkie części zapasowe<br>
        do prawie wszystkich produktów średnio przez 10 lat po zakupie.
      </strong>
    </p>
  </section>

</div>